<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Automated Lyrical Narrative Writing</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Try</a>
                    </li>
                </ul>
            </nav>
            <a><img src="https://image.ibb.co/jN3XLF/mable_Logo.png" alt="mable_Logo" border="0" style="width:100px;height:100px;"></a>
            <!-- <h4 class="text-muted">MABLE</h4> -->
        </div>
 
        <div class="jumbotron">
            <h4>Hi! I am MABLE. MexicA's BaLlad machineE. I am the first computational system to write narrative-based lyrics. Do you want to create your own story telling lyrics? Try Me!</h4>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">TRY ME</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; 2017</p>
        </footer>
 
    </div>
</body>
 
</html>